.search{
    -webkit-appearance : none;
    border : none;
    outline : none;
    padding : 10px;
    /* height: 80px; */
    width : 150px;
    /* background-color: green ; */
    line-height:  40px;
    margin-bottom: 30px;    
}
